header {.phone{margin-left: auto;}}

#theButton {
    display: none;
}

#theNav {
    grid-template-rows: 1fr;
}

#theNav ul, #theNav ul.open {
    display: flex;
    li a {
        padding: .4rem 1rem;
        border: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

#navWrapper {
    border-bottom: 1px solid $primaryColor;
}

.serviceCards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section {
        flex-basis: calc(50% - $gutter/2);
    }
}