$primaryColor: #A1B1C6;
$secondaryColor: #1A2A40;
$accentColor: #42628C;
$fontColor: #0D0D0D;
$whiteColor: #F2F2F2;

$defaultFont: "Smooch Sans", sans-serif;
$lightWeight: 400;
$normalWeight: 600;
$boldWeight: 800; 

$gutter: 16px;